.box {
  background-color: olive;
  height: 200px;
  width: 200px;
  display: inline-block;
}

.special {
  background-color: orangered;
  position: absolute;
  /* şu an bunun üstünde olan bir parent belirlemedim position: relative olan. bu yüzden root'u referans alıyor */
  top: 0;
  left: 0;
}