body {
  font-family: Cormorant, serif;
}

.navbar {
  margin: 32px;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
}

h2 {
  display: inline-block;
}

header nav {
  display: inline-block;
}

.links ul {
  padding: 0;
  margin-left: 32px;
}

header nav li {
  display: inline-block;
}

nav li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}

a.active {
  border-bottom: 1px solid black;
}

.card-container {
  width: 40%;
  display: inline-block;
}

img {
  height: 500px;
}