body {
  font-family: Cormorant, serif;
}

.navbar {
  margin: 32px;
}

h1 {
  display: inline-block;
  font-weight: 300;
  margin: 0;
}

.card-container h2 {
  font-weight: 300;
  display: inline-block;
  margin: 8px 0 6px 0;
}

header nav {
  display: inline-block;
}

.links ul {
  padding: 0;
  margin-left: 32px;
}

header nav li {
  display: inline-block;
}

nav li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin: 0 8px;
}

a.active {
  border-bottom: 1px solid black;
}

.gallery {
  padding: 16px;
}

.card-container {
  width: 49.75%;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
}

.card-container img {
  height: 500px;
  width: 100%;
  /* width küçüldükçe resimler sıkışıyordu, bunu önlemek için object-fill kullandım */
  object-fit: cover;
}