body {
  background: radial-gradient(#0288d1, #01579b);
  height: 100vh;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  border: 2px solid currentColor;
  padding: 15px 30px;
  border-radius: 4px;
  position: relative;
  transition: all 0.2s;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.09);
  background-color: rgba(0, 0, 0, 0.1);
}

.badge {
  background-color: #4caf50;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 50%;

  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.btn:hover,
.btn:active {
  background-color: rgba(255, 255, 255, 0.1);
}