.box {
  width: 100px;
  height: 100px;
  background-color: olive;

  transform: translate(50%, 50%);
  /* translate(X,Y) */
  /* 50%, 50% yazdım ve 50px sağa ve 50px aşağı gitti. Çünkü kendisi 100x100 boyutunda */
}