.btn {
  display: inline-block;
  color: orangered;
  border: 2px solid black;
  padding: 10px 20px;
  margin-top: 30px;
  background-color: white;

  transition: transform 3s ease-out;
  /* ease-out -> starts quickly, slows down */
  /* ease-in -> starts slowly, speeds up */
}

.btn:hover {
  transform: translateX(100px);
}