body {
  background: linear-gradient(to bottom right, #3899ee, #38e2ee);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: white;
  color: #401aff;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border-radius: 0.3rem;
  padding: 2rem 7rem;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 1rem;
  border: none;
  cursor: pointer;
}