.box {
  border: 1px solid red;
  height: 500px;
  width: 900px;

  background-image: url("images/food.jpg");
  /* I set background but its too big! I can wrap it anyway, with background-size */

  background-size: cover;
  /* cover -> it scales the image to for my dimensions with no empty space (500x900). the image is cropped either vertically or horizontally */

}