.box {
  border: 1px solid red;
  height: 500px;
  width: 500px;

  background-image: url("images/peacock.png");

  /* background-repeat: no-repeat; */
  /* background-repeat: repeat-x; -> repeat only X axis  */
  /* background-repeat: repeat-y; -> repeat only Y axis */
}